input {
  background-color: white;
  margin-bottom: 10px;
}
	body {
 background-color: white;

}
	input[type=text] {
  width: 30%;
  padding: 12px 20px;

  box-sizing: border-box;
}
		input[type=text] { 



}
#mashaa{
background-color: green;
}





